/* 
Please note that some genral styles used here(i.e styles without classes or id) may affect your code. Hence be careful and look out for bugs.

Media queries are contained at the end of the file. Don't ignore this biko. Don't worry, it is not a lot. I assure you.
*/

/* HEADER STYLES */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Lato";
}
body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  font-size: 14px;
  font-family: "roboto";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  color: #443a6c;
}
a {
  text-decoration: none;
  color: inherit;
  padding: 10px 0;
}
button {
  height: 45px;
  width: 120px;
  border-radius: 5px;
  border: none;
  color: white;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  display: block;
  object-fit: cover;
}
.header-components {
  background-color: #4623d2;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: white;
  padding: 0 50px 0 40px;
  z-index: 10;
  max-width: 1600px;
  margin: 0 auto;
}
.logo-name {
  font-size: 28px;
  font-weight: bold;
  font-family: "roboto";
  letter-spacing: 2px;
  cursor: pointer;
}
.nav-wrap {
  display: flex;
  align-items: center;
}
.user {
  height: 45px;
  margin: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user i {
  font-size: 40px;
}
ul.dropdown {
  cursor: pointer;
  display: none;
  /* background-color: red; */
}
ul.dropdown li {
  font-size: 16px;
  color: black;
  padding: 15px;
  width: 120px;
  background-color: white;
  font-weight: bold;
  text-align: center;
}
ul.dropdown li:last-child {
  border-top: 1px solid rgb(169, 181, 182);
}
.user:hover ul.dropdown {
  display: block;
  position: absolute;
  top: 0;
  padding-top: 20px;
  margin-top: 40px;
  z-index: 150;
}
.user:hover ul.dropdown li:hover {
  background-color: #4623d2;
  color: white;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul * {
  margin: 0 15px;
  font-size: 16px;
  font-weight: bold;
}
nav ul li {
  padding: 10px 0;
  text-transform: uppercase;
}
nav ul *:hover {
  background-color: white;
  color: #4623d2;
  border-radius: 4px;
}
nav ul button {
  background-color: #6039fb;
  font-size: 14px;
  text-transform: uppercase;
}
.register-btn {
  background-color: #edbd41;
  width: 180px;
  padding: 0;
  font-size: 14px;
  text-transform: unset;
}
.register-btn a {
  padding: 0;
  font-size: 14px;
  width: 100%;
  font-weight: bold;
}

/* MENU ICON STYLES */
#menu-icon {
  z-index: 100;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: none;
  align-items: center;
  justify-content: center;
}
.bar {
  width: 20px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: transform 0.3s ease-in;
}
.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: transform 0.3s ease-out;
}
.bar::before {
  transform: translateY(-7px);
}
.bar::after {
  transform: translateY(7px);
}
.bar.rotate {
  transform: rotate(180deg);
  background-color: transparent;
  box-shadow: none;
}
.bar.rotate::before {
  transform: rotate(45deg) translate(5px, -5px);
  box-shadow: none;
}
.bar.rotate::after {
  transform: rotate(-45deg) translate(5px, 5px);
  box-shadow: none;
}
.lock-scroll {
  overflow: hidden;
}
/* END  OF MENU-ICON STYLES*/

/* MOBILE NAV STYLES  */
#mobile-nav {
  position: fixed;
  width: 100%;
  min-width: 100vw;
  height: 100vh;
  min-height: 400px;
  background-color: transparent;
  z-index: 5;
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
  border-top: 1px solid gray;
}
#mobile-nav.open {
  opacity: 1;
  pointer-events: auto;
}
#mobile-nav.bg-overlay {
  background-color: rgba(10, 39, 10, 0.432);
}
#mobile-nav-links {
  height: 100%;
  background-color: #1a027b;
  width: 70%;
  padding: 10% 10% 0;
  margin: 0 0 0 auto;
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#mobile-nav-links li {
  color: white;
}
.nav-animation {
  animation: navbar 0.3s linear;
}
@keyframes navbar {
  0% {
    margin-right: -70%;
  }
  100% {
    margin-right: 0px;
  }
}
#mobile-nav-links li {
  color: white;
  width: 100%;
  font-size: 16px;
  text-align: center;
}
#mobile-nav-links li a {
  display: block;
  width: 100%;
  padding: 30px 0;
  font-weight: 600;
}
#mobile-nav-links li a:hover {
  background-color: white;
  font-weight: bold;
  color: #4623d2;
}
/* END OF MOBILE NAV STYLES  */

/* END OF HEADER STYLES */

/* -------------------ROUND 2. FIGHT!-------------------------- */

/* FOOTER STYLES */

footer {
  background-color: #1a027b;
  color: white;
  padding: 50px;
  font-family: "roboto";
  font-size: 16px;
}
.footer-wrap {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
footer .footer-info p {
  margin: 0 0 20px;
  font-weight: bold;
}
.footer-info i,
footer ul li i {
  margin-right: 10px;
  font-size: 14px;
  font-weight: initial;
}
.bold-icon i {
  font-weight: bold;
}
footer .contact p {
  font-size: 16px;
  color: #8396bb;
}
footer h3 {
  color: white;
  font-size: 20px;
  margin: 0 0 16px;
}
footer ul {
  flex-direction: column;
  padding: 0;
  justify-content: unset;
  align-items: unset;
}
footer ul li {
  margin: 15px 0;
  font-weight: bold;
  color: #8396bb;
}
footer ul li:hover {
  color: white;
}
footer ul.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer ul.social li i {
  margin: 0 20px 0 0;
  font-size: 24px;
  color: white;
  font-weight: normal;
}
footer ul.social li i:hover {
  padding: 0;
  color: #8396bb;
}
.pjt-92 {
  background-color: #1a027b;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #6039fb;
  font-size: 16px;
}
.pjt-92 p {
  margin: 0;
  color: #8396bb;
}
.pjt-92 p:hover {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
/* END OF FOOTER STYLES */

/* ---------Time for what we all hated at some point. MEDIA QUERIES...LMAO-------- */

/*   DISCLAIMER!! 
  1. I AM USING JUST TWO BREAKPOINTS; 1150px and 760px
  2. I BUILT FOR BIG SCREENS FIRST. Well, this was not entirely my fault. Blame the Designers. Lol.
  */

/* max-width: 1150px */
@media (max-width: 1150px) {
  #menu-icon {
    display: flex;
  }
  nav {
    display: none;
  }
  /* footer */
  footer {
    padding: 20px;
  }
  .footer-wrap {
    justify-content: space-between;
  }
}

/* max-width: 760px */
@media (max-width: 760px) {
  header {
    height: 70px;
    padding: 0 25px;
  }
  .logo-name {
    font-size: 20px;
  }
  .user i {
    font-size: 30px;
  }
  .user:hover ul.dropdown {
    margin-top: 30px;
  }
  /* footer */
  .footer-wrap {
    font-size: 14px;
    flex-direction: column;
  }
  footer .logo-name {
    text-align: center;
  }
  footer h3 {
    font-size: 16px;
  }
  footer ul.social {
    display: flex;
    justify-content: left;
  }
  footer ul.social li {
    margin: 0;
  }
  footer ul.social li i {
    font-size: 24px;
  }
  .pjt-92,
  footer .contact p {
    font-size: 14px;
  }
}

/* -------------THE END---------------- */
