@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden !important;
  /* max-width: 100%;
       width: 100%;
       white-space:nowrap; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  color: #443a6c;
}
a {
  text-decoration: none;
  color: inherit;
  padding: 10px 0;
}
button {
  height: 45px;
  width: 120px;
  border-radius: 5px;
  border: none;
  color: white;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  display: block;
  object-fit: cover;
}
.header-components {
  background-color: #4623d2;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: white;
  padding: 0 50px 0 40px;
  z-index: 10;
  max-width: 1600px;
  margin: 0 auto;
}
.logo-name {
  font-size: 28px;
  font-weight: bold;
  font-family: "roboto";
  letter-spacing: 2px;
  cursor: pointer;
}
.nav-wrap {
  display: flex;
  align-items: center;
}
.user {
  height: 45px;
  margin: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user i {
  font-size: 40px;
}
ul.dropdown {
  cursor: pointer;
  display: none;
  /* background-color: red; */
}
ul.dropdown li {
  font-size: 16px;
  color: black;
  padding: 15px;
  width: 120px;
  background-color: white;
  font-weight: bold;
  text-align: center;
}
ul.dropdown li:last-child {
  border-top: 1px solid rgb(169, 181, 182);
}
.user:hover ul.dropdown {
  display: block;
  position: absolute;
  top: 0;
  padding-top: 20px;
  margin-top: 40px;
  z-index: 150;
}
.user:hover ul.dropdown li:hover {
  background-color: #4623d2;
  color: white;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul * {
  margin: 0 15px;
  font-size: 16px;
  font-weight: bold;
}
nav ul li {
  padding: 10px 0;
  text-transform: uppercase;
}
nav ul *:hover {
  background-color: white;
  color: #4623d2;
  border-radius: 4px;
}
nav ul button {
  background-color: #6039fb;
  font-size: 14px;
  text-transform: uppercase;
}
.register-btn {
  background-color: #edbd41;
  width: 180px;
  padding: 0;
  font-size: 14px;
  text-transform: unset;
}
.register-btn a {
  padding: 0;
  font-size: 14px;
  width: 100%;
  font-weight: bold;
}

/* MENU ICON STYLES */
#menu-icon {
  z-index: 100;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: none;
  align-items: center;
  justify-content: center;
}
.bar {
  width: 20px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: transform 0.3s ease-in;
}
.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: transform 0.3s ease-out;
}
.bar::before {
  transform: translateY(-7px);
}
.bar::after {
  transform: translateY(7px);
}
.bar.rotate {
  transform: rotate(180deg);
  background-color: transparent;
  box-shadow: none;
}
.bar.rotate::before {
  transform: rotate(45deg) translate(5px, -5px);
  box-shadow: none;
}
.bar.rotate::after {
  transform: rotate(-45deg) translate(5px, 5px);
  box-shadow: none;
}
.lock-scroll {
  overflow: hidden;
}
/* END  OF MENU-ICON STYLES*/

/* MOBILE NAV STYLES  */
#mobile-nav {
  position: fixed;
  width: 100%;
  min-width: 100vw;
  height: 100vh;
  min-height: 400px;
  background-color: transparent;
  z-index: 5;
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
  border-top: 1px solid gray;
}
#mobile-nav.open {
  opacity: 1;
  pointer-events: auto;
}
#mobile-nav.bg-overlay {
  background-color: rgba(10, 39, 10, 0.432);
}
#mobile-nav-links {
  height: 100%;
  background-color: #1a027b;
  width: 70%;
  padding: 10% 10% 0;
  margin: 0 0 0 auto;
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#mobile-nav-links li {
  color: white;
}
.nav-animation {
  animation: navbar 0.3s linear;
}
@keyframes navbar {
  0% {
    margin-right: -70%;
  }
  100% {
    margin-right: 0px;
  }
}
#mobile-nav-links li {
  color: white;
  width: 100%;
  font-size: 16px;
  text-align: center;
}
#mobile-nav-links li a {
  display: block;
  width: 100%;
  padding: 30px 0;
  font-weight: 600;
}
#mobile-nav-links li a:hover {
  background-color: white;
  font-weight: bold;
  color: #4623d2;
}
/* END OF MOBILE NAV STYLES  */

/* END OF HEADER STYLES */

.parent-container {
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: #e5e5e5;
  padding-top: 6rem;
  /* padding-left: 4rem;
      padding-right: 4rem; */
  /* padding: 2rem 2rem; */
}
/* .topnav{
        display: flex;
        flex-direction: row;
  } */

.topnav ul {
  display: flex;
  list-style: none;
}
.topnav ul li {
  padding: 2rem 1rem;
  margin-left: 4rem;
}

.nav {
  text-decoration: none;
}

.section-1 {
  width: 100%;
  height: 60vh;
  padding: 3rem 7rem;
  padding-right: 0;
  background-color: #4623d2;
  /* margin-left: -4rem; */
}

.title {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  /* identical to box height */
  color: #ffffff;
}
.subsection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}
.left {
  width: 100%;
  height: 40vh;

  /* background-color: brown; */
}
.left p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 194% */

  letter-spacing: 0.05em;

  color: #ffffff;
}

.right {
  position: relative;

  width: 100%;
  height: 40vh;
  margin-right: -8rem;
  /* background-color: yellow; */
}
.img-container {
  position: absolute;
  width: 50vw;
  height: 50vh;
  /* background-color: rgb(66, 0, 46); */
  top: 0;
  right: 0;
  margin-right: -8rem;
}

.img {
  position: absolute;
  top: 0;
  width: 90%;
  height: auto;
  margin-top: -65px;
}
@media screen and (max-width: 760px) {
  .section-1 {
    display: flex;
    width: 100%;
    height: auto;
    /* padding: 1rem 2rem; */
    padding-right: 0;
    background-color: #4623d2;
    /* margin-left: -4rem; */
    flex-direction: column;
    /* overflow: hidden !important; */
  }

  .subsection {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
  .left {
    width: 100%;
    height: 40vh;
  }
  .left p {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;

    letter-spacing: 0.05em;

    color: #ffffff;
  }

  .right {
    position: relative;

    width: 100%;
    height: 40vh;
    margin-right: -30rem;
    /* background-color: yellow; */
  }
  .img {
    display: none;
  }
}

.section-b {
  display: grid;
  place-items: center;
  width: 100%;
  padding-left: 7rem;
  padding-right: 7rem;
  background-color: #ffffff;
}

.section-2 {
  display: flex;
  width: 100%;
  padding-top: 8rem;

  /* justify-content: center; */
  align-items: center;
  height: 7rem;

  /* background-color: #FFFFFF; */
  /* height: 50vh;
    padding: 3rem 7rem;
    padding-right: 0; */
}
.space-num {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 91.5254px;
  line-height: 107px;
  /* identical to box height */
  color: #443a6c;

  margin-right: 2rem;
}
span {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 0.05em;
  color: #5b537e;
}

.section-c {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 1rem;
  background-color: #ffffff;
  margin-top: 2rem;
}
.section-3 {
  width: 70%;
  padding: 1rem;
  height: 200px;
  float: right;
  /* margin-top: 2rem; */
}
.subhead-2 {
  text-align: left;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  padding-left: 17rem;
  color: #443a6c;
}
.subinfo {
  text-align: left;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  padding-left: 15rem;

  letter-spacing: 0.05em;
  color: #443a6c;
  justify-content: right;
}
@media screen and (max-width: 760px) {
  .section-c {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 1rem;
    background-color: #ffffff;
    margin-top: 2rem;
    flex-direction: column;
  }
  .section-3 {
    width: 100%;
    padding: 1rem;
    height: 100px;
    text-align: center;
    /* margin-top: 2rem; */
  }
  .subhead-2 {
    text-align: center;

    font-size: 20px;
    line-height: 26px;

    color: #443a6c;
  }
  .subinfo {
    text-align: center;

    font-size: 16px;
    line-height: 30px;
    /* padding-left: 15rem; */

    letter-spacing: 0.05em;
    color: #443a6c;
  }
}
.section-3 a {
  text-align: center;
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 35px;

  padding-left: 15rem;
  /* or 194% */
  letter-spacing: 0.1em;
  color: #5b537e;
}
.section-3 a:hover {
  border-bottom: 2px solid #4623d2;
}

.mb {
  margin-bottom: 2rem;
}
.img-container-2 {
  width: 40%;
  height: 200px;
}
.img-2 {
  top: 1330px;
  filter: drop-shadow(0px 2.65352px 53.0704px rgba(0, 0, 0, 0.2));
  width: 471px;
  height: auto;
  margin-top: -10rem;
  margin-left: -40px;
}
.section-d {
  display: flex;
  padding-top: 25rem;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-top: -8rem;
  margin-bottom: 8rem;

}
.subhead-3 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  color: #443a6c;
  text-align: center;
  /* margin-top:0; */
}

.row-y {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50vh;
  padding: 0 !important;
  margin-top: 5rem;
}

.logo-y {
  /* display: grid;
    grid-template-rows: 1fr 1fr ; */
  width: 256px;

  height: fit-content;
  /* border: 1px solid #555;  */
  margin-right: 2rem;
  /* margin-top: 5rem; */
}
.card-image {
  width: 100%;
  height: 100px;
}
.img-exec {
  width: 100% !important;
  height: auto;
}
.card-body {
  margin-top: 7rem;
  /* display: grid;
    grid-template-rows: 1fr 1fr; */
  height: 150px;
  width: 240px;
}

.card-name {
  text-align: center;
  margin-bottom: 1rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 14.9533px;
  line-height: 29px;

  letter-spacing: 0.1em;
  color: #5b537e;
}

.card-title {
  text-align: center;
  margin-bottom: 1rem;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 14.9533px;
  line-height: 29px;
  letter-spacing: 0.1em;
  color: #5b537e;
}

.card-icon {
  display: flex;
  justify-content: space-around;
  width: 60%;

  margin: auto;
  color: #44328d;
}
/* styles the heading */
.subhead-part {
  text-align: center;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height */
  color: #443a6c;
}
.row-x {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50vh;
  padding: 0 !important;
  margin-top: 5rem;
}

.logo-x {
  /* display: grid;
    grid-template-rows: 1fr 1fr ; */
  width: 256px;
  /* height: fit-content; */
  height: fit-content;
  /* border: 1px solid #555;  */
  margin-right: 2rem;
  /* margin-top: 5rem; */
}

.logo-img {
  width: 100%;
  height: 100px;
  padding: 2rem 2rem;
  margin-bottom: 10rem;
  margin-top: -4rem;
}
.img-logo {
  width: 100% !important;
  height: auto;
  /* position: absolute;  */
  /* width: 196.23px; */
  /* height: 57.11px; */
  /* left: 299px; */
  /* margin-bottom: 8rem; */
}
.ps {
  margin-top: -2rem;
  /* position: absolute; */
  /* width: 110.19px;*/
}

/* dispaly flex and give them a aparticular width */

footer {
  background-color: #1a027b;
  color: white;
  padding: 50px;
  font-family: "roboto";
  font-size: 16px;
}
.footer-wrap {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
footer .footer-info p {
  margin: 0 0 20px;
  font-weight: bold;
}
.footer-info i,
footer ul li i {
  margin-right: 10px;
  font-size: 14px;
  font-weight: initial;
}
.bold-icon i {
  font-weight: bold;
  margin: 0;
  margin-right: 10px;
}
footer .contact p {
  font-size: 16px;
  color: #8396bb;
}
footer h3 {
  color: white;
  font-size: 20px;
  margin: 0 0 16px;
}
footer ul {
  flex-direction: column;
  padding: 0;
  justify-content: unset;
  align-items: unset;
}
footer ul li {
  margin: 15px 0;
  font-weight: bold;
  color: #8396bb;
}
footer ul li:hover {
  color: white;
}
footer ul.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer ul.social li i {
  margin: 0 20px 0 0;
  font-size: 24px;
  color: white;
  font-weight: normal;
}
footer ul.social li i:hover {
  padding: 0;
  color: #8396bb;
}
.pjt-92 {
  background-color: #1a027b;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #6039fb;
  font-size: 16px;
}
.pjt-92 p {
  margin: 0;
  color: #8396bb;
}
.pjt-92 p:hover {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
/* END OF FOOTER STYLES */

/* ---------Time for what we all hated at some point. MEDIA QUERIES...LMAO-------- */

/*   DISCLAIMER!! 
    1. I AM USING JUST TWO BREAKPOINTS; 1150px and 760px
    2. I BUILT FOR BIG SCREENS FIRST. Well, this was not entirely my fault. Blame the Designers. Lol.
    */

/* max-width: 1150px */
@media (max-width: 1150px) {
  #menu-icon {
    display: flex;
  }
  nav {
    display: none;
  }
  /* footer */
  footer {
    padding: 40px 20px;
  }
  .footer-wrap {
    justify-content: space-between;
  }
}

/* max-width: 760px */
@media (max-width: 760px) {
  header {
    height: 70px;
    padding: 0 25px;
  }
  .logo-name {
    font-size: 20px;
  }
  .user i {
    font-size: 30px;
  }
  .user:hover ul.dropdown {
    margin-top: 30px;
  }
  /* footer */
  .footer-wrap {
    font-size: 14px;
    flex-direction: column;
  }
  footer .logo-name {
    text-align: center;
  }
  footer h3 {
    font-size: 16px;
  }
  footer ul.social {
    display: flex;
    justify-content: left;
  }
  footer ul.social li {
    margin: 0;
  }
  footer ul.social li i {
    font-size: 24px;
  }
  .pjt-92,
  footer .contact p {
    font-size: 14px;
  }
}
@media screen and (max-width:770px) {
  .parent-container{
    padding-top: 4rem; 
  }
  .topnav{
    height: fit-content;
    padding: 1rem;
    margin-top: 1rem;
  }
  .topnav ul{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 1rem;
  }
  .topnav ul li {
    margin-bottom: 1rem;
    padding: 0;
    margin-left: 1rem;
  }
  .section-1 {
  width: 100%;
  height: auto;
  padding: 1rem 1rem;
  padding-right: 0;
  background-color: #4623d2;
  /* margin-left: -4rem; */
}
.title{
  font-size: 1.7rem;
  font-family: inherit;
}
.subsection {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 5px;
}
.left{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.right {
  
  display: none;
  width: 100%;
  height: 0;
  margin-right: -8rem;
  /* background-color: yellow; */
}
.section-b {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ffffff;
  /* display: none; */
}
.card-body{
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-name{
  text-align: center;
}
.section-3 {
  width: 100%;
  padding: 1rem;
  height: auto;
  /* float: right; */
  /* margin-top: 2rem; */
}
.section-2{
   display: flex;
  width: 100%;
  padding-top: 1rem;
flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  height: auto;
}
.subhead-2{
  text-align: start;
}
.section-c{
  /* display: none; */
}
.subhead-2 {
  text-align: left;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
  padding-left: 1rem;
  color: #443a6c;
}
.subinfo {
  text-align: left;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  padding-left: 1rem;

  letter-spacing: 0.05em;
  color: #443a6c;
  
}
.section-e{
  margin-top: 2rem;
}
.row-y {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0 !important;
  margin-top: 1rem;
}
.row-x {
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0 !important;
  margin-top: 1rem;
}

.logo-img {
  width: 100%;
  height: 100px;
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  margin-top: 0;
}
.img-logo {
  width: 150px;
  height: auto;
  margin-bottom: 1rem;
  transform: scale(0.5)
 
}
.section-d {
  display: flex;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

}
.img-2 {
  top: 1330px;
  /* filter: drop-shadow(0px 2.65352px 53.0704px rgba(0, 0, 0, 0.2)); */
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-left: 4px;
}
.section-3 a{
  padding: 0;
}
.img-container-2{
  width: 100%;
  height: auto;
}

}
