@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   }
   
   body{
    overflow-x: hidden;
   }
   
   .nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0.5rem 5rem;
   }
   .nav-brand-name{
    font-family: Roboto , 'Open Sans';
    font-weight: bold;
    font-size: 37.5px;
    line-height: 44px;
   /* text-align: left;
  position: absolute; */
  /* width: 187.5px;
  height: 43.75px;
  left: 83.75px;
  top: 73.75px; */
   color: #443a63;
  /* margin-left: 55px;
  margin-top: -30px; */

}
   .nav-brand{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   }
   .nav-links-container{
    display: flex;
    flex-direction: row;
   }
   .nav-toggler{
    display: none;
   }
   .nav-links ul {
    display: flex;
    list-style: none;
    
   }
   .link-item{
    padding:  0.5rem 1rem;
    margin-right: 1rem;
   }
   .link-item:hover{
     border-bottom: 4px solid #4623d2;
   }
   .nav-link-item{
    /* float: right;
    display: inline; */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: #000000;
    opacity: 0.4;
    text-decoration: none;
    /* padding-right: 30px;
    margin-top: 80px; */
  }
    


   
   @media screen and (max-width:770px) {
    .nav-toggler{
     display: block;
   
    }
    .nav-links ul{
     display: flex;
     flex-direction: column;
     width: 100%;
     height: auto;
    }
    .link-item{
     margin-bottom: 1rem; 
    }
    .nav-links-container{
     display: flex;
     flex-direction: column;
     display: none;
    }
    .nav-links-container.active{
     display: block;
    }
    .nav-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
    height: auto;
    padding: 1rem 1rem;
   }
   .nav-brand-name{
    font-size: 1.5rem;
   
   }
   .nav-brand{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
   }
   
   }
  
   
   
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 1rem 5rem;
    grid-gap: 30px;
}
   
   .form-container{
    width: 100%;
    height: auto;
    /* background-color: blue; */
}
 .form-title{
    display: flex;
    flex-direction: column;
}
.form-title h2{
    font-family: Raleway;
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    letter-spacing: 0.1em;
    color: #323232;
    /* position: absolute;
    width: 495px;
    height: 52px;
    left: 83px;
    top: 159px; */
    margin-bottom: 1rem;
    /* margin-left: 55px;
    margin-top: -30px; */
  }

.form-title p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22.5px;
    line-height: 26px;
    letter-spacing: 0.06em;
    color: #000000;
    margin-bottom: 1rem;
   
}

  
   .form-input-container{
    
    border: 2.5px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 12.5px;
    margin-top: 1rem;
    display: flex;
    width: 90%;
    height: 82.5px;
    /* justify-content: center; */
    align-items: center;
    padding: 0.25rem 0.5rem;
    
   
   
   }
   .form-input{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22.5px;
    line-height: 26px;
    letter-spacing: 0.05em;

    color: #000000;

    opacity: 0.4;
    outline-style: none;
    border: none;
    margin-left: 1rem;
   
    /* line-height: 1.7rem; */
    
   
  }
  
  .form-input-container:hover{
     
    border: 1px solid #4623D2;
}

  
  
   .btn-signup{
        
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        letter-spacing: 0.05em;
        color: #ffffff;
        
        background: #4623d2;
        border: 2.5px solid rgba(0, 0, 0, 0.2);
        
        box-shadow: 3.2px 16px 40px rgba(96, 57, 251, 0.3);
        border-radius: 12.5px;
       padding: 1rem 2rem;
       width: 90%;
       margin-top: 2rem;
   }
   .select{
    display: flex;
    margin-top: 1rem;
    
   
   }
   .form-agreement{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22.5px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #000000;
    opacity: 0.4;
    
   }
   .check{
    margin-right: 1rem;
    margin-top:8px;
    padding: 1.4rem;
    background: #ffffff;
    opacity: 0.4;
    border: 4.5px solid #000000;
    

    border-radius: 6.25px;
    
  /* margin-top: 20px;
  margin-left: 50px; */
   }
   
  
    
  
   .form-img{
    width: 100%;
    height: 90%;
   }
   @media screen and (max-width: 770px) {
    .container{
     display: grid;
     grid-template-columns: 1fr;
     padding: 1rem 2rem;
     

    }


    .form-container{
     width: 100%;
     

     
    }
    

    
    .img-container{
     display: none;
    }
   }
   
@media screen and (max-width:1150px ){
   .form-input{
    width:100%;
    margin-top: 0;

}
}
   
   
   
   