@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

body {
  /* overflow-x: hidden; */
  background-color: #eef1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  color: #443a6c;
}
a {
  text-decoration: none;
  color: inherit;
  padding: 10px 0;
}
button {
  height: 45px;
  width: 120px;
  border-radius: 5px;
  border: none;
  color: white;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  display: block;
  object-fit: cover;
}
.header-components {
  background-color: #4623d2;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: white;
  padding: 0 50px 0 40px;
  z-index: 10;
  max-width: 1600px;
  margin: 0 auto;
}
.logo-name {
  font-size: 28px;
  font-weight: bold;
  font-family: "roboto";
  letter-spacing: 2px;
  cursor: pointer;
}
.nav-wrap {
  display: flex;
  align-items: center;
}
.user {
  height: 45px;
  margin: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user i {
  font-size: 40px;
}
ul.dropdown {
  cursor: pointer;
  display: none;
  /* background-color: red; */
}
ul.dropdown li {
  font-size: 16px;
  color: black;
  padding: 15px;
  width: 120px;
  background-color: white;
  font-weight: bold;
  text-align: center;
}
ul.dropdown li:last-child {
  border-top: 1px solid rgb(169, 181, 182);
}
.user:hover ul.dropdown {
  display: block;
  position: absolute;
  top: 0;
  padding-top: 20px;
  margin-top: 40px;
  z-index: 150;
}
.user:hover ul.dropdown li:hover {
  background-color: #4623d2;
  color: white;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul * {
  margin: 0 15px;
  font-size: 16px;
  font-weight: bold;
}
nav ul li {
  padding: 10px 0;
  text-transform: uppercase;
}
nav ul *:hover {
  background-color: white;
  color: #4623d2;
  border-radius: 4px;
}
nav ul button {
  background-color: #6039fb;
  font-size: 14px;
  text-transform: uppercase;
}
.register-btn {
  background-color: #edbd41;
  width: 180px;
  padding: 0;
  font-size: 14px;
  text-transform: unset;
}
.register-btn a {
  padding: 0;
  font-size: 14px;
  width: 100%;
  font-weight: bold;
}

/* MENU ICON STYLES */
#menu-icon {
  z-index: 100;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: none;
  align-items: center;
  justify-content: center;
}
.bar {
  width: 20px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: transform 0.3s ease-in;
}
.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: transform 0.3s ease-out;
}
.bar::before {
  transform: translateY(-7px);
}
.bar::after {
  transform: translateY(7px);
}
.bar.rotate {
  transform: rotate(180deg);
  background-color: transparent;
  box-shadow: none;
}
.bar.rotate::before {
  transform: rotate(45deg) translate(5px, -5px);
  box-shadow: none;
}
.bar.rotate::after {
  transform: rotate(-45deg) translate(5px, 5px);
  box-shadow: none;
}
.lock-scroll {
  overflow: hidden;
}
/* END  OF MENU-ICON STYLES*/

/* MOBILE NAV STYLES  */
#mobile-nav {
  position: fixed;
  width: 100%;
  min-width: 100vw;
  height: 100vh;
  min-height: 400px;
  background-color: transparent;
  z-index: 5;
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
  border-top: 1px solid gray;
}
#mobile-nav.open {
  opacity: 1;
  pointer-events: auto;
}
#mobile-nav.bg-overlay {
  background-color: rgba(10, 39, 10, 0.432);
}
#mobile-nav-links {
  height: 100%;
  background-color: #1a027b;
  width: 70%;
  padding: 10% 10% 0;
  margin: 0 0 0 auto;
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#mobile-nav-links li {
  color: white;
}
.nav-animation {
  animation: navbar 0.3s linear;
}
@keyframes navbar {
  0% {
    margin-right: -70%;
  }
  100% {
    margin-right: 0px;
  }
}
#mobile-nav-links li {
  color: white;
  width: 100%;
  font-size: 16px;
  text-align: center;
}
#mobile-nav-links li a {
  display: block;
  width: 100%;
  padding: 30px 0;
  font-weight: 600;
}
#mobile-nav-links li a:hover {
  background-color: white;
  font-weight: bold;
  color: #4623d2;
}
.container {
  height: calc(100vh - 100px);
  max-height: 520px;
  max-width: 1600px;
  margin: 120px auto 30px;
  padding: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  /* grid-gap: 30px; */
}

.form-container {
  width: 40%;
  min-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  /* background-color: blue; */
}
.form-title {
  display: block;
  width: 100%;
  text-align: left;
}
.form-title h2 {
  font-family: Raleway;
  font-weight: bold;
  font-size: 35px;
  line-height: 53px;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
}

.form-title p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.06em;
  color: #000000;
  /* margin-bottom: 1rem; */
}
.form-data {
  width: 100%;
}
.form-input-container {
  border: 2.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
  margin: 1rem 0 0;
  display: flex;
  width: 100%;
  min-width: 500px;
  height: 50px;
  align-items: center;
  padding: 0.25rem 1rem;
  box-sizing: border-box;
}
.form-input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #000000;
  width: 100%;
  /* opacity: 0.4; */
  outline-style: none;
  border: none;
  margin-left: 1.2rem;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: transparent;
}
.form-input-container:hover {
  border: 1px solid #4623d2;
}

.btn-signup {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  height: 50px;
  background: #4623d2;
  border: 2.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 3.2px 16px 40px rgba(96, 57, 251, 0.3);
  border-radius: 12.5px;
  width: 100%;
  /* max-width: 550px; */
  display: block;
  text-transform: uppercase;
  margin: 1rem 0 0;
  box-sizing: border-box;
}
.select {
  display: flex;
  margin-top: 1rem;
}
.form-agreement {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #000000;
  opacity: 0.4;
}
.check {
  margin-right: 1rem;
  margin-top: 8px;
  padding: 1.4rem;
  background: #ffffff;
  opacity: 0.4;
  border: 4.5px solid #000000;
  border-radius: 6.25px;
}
.img-container {
  width: 40%;
  height: 100%;
  display: block;
}
.form-img {
  width: 100%;
  height: 100%;
}
.signin {
  text-align: center;
  margin-top: 20px;
}
.blue-link {
  color: blue;
}

/* FOOTER STYLES */

footer {
  background-color: #1a027b;
  color: white;
  padding: 50px;
  font-family: "roboto";
  font-size: 16px;
}
.footer-wrap {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
footer .footer-info p {
  margin: 0 0 20px;
  font-weight: bold;
}
.footer-info i,
footer ul li i {
  margin-right: 10px;
  font-size: 14px;
  font-weight: initial;
}
.bold-icon i {
  font-weight: bold;
  margin: 0;
  margin-right: 10px;
}
footer .contact p {
  font-size: 16px;
  color: #8396bb;
}
footer h3 {
  color: white;
  font-size: 20px;
  margin: 0 0 16px;
}
footer ul {
  flex-direction: column;
  padding: 0;
  justify-content: unset;
  align-items: unset;
}
footer ul li {
  margin: 15px 0;
  font-weight: bold;
  color: #8396bb;
}
footer ul li:hover {
  color: white;
}
footer ul.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer ul.social li i {
  margin: 0 20px 0 0;
  font-size: 24px;
  color: white;
  font-weight: normal;
}
footer ul.social li i:hover {
  padding: 0;
  color: #8396bb;
}
.pjt-92 {
  background-color: #1a027b;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #6039fb;
  font-size: 16px;
}
.pjt-92 p {
  margin: 0;
  color: #8396bb;
}
.pjt-92 p:hover {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
/* END OF FOOTER STYLES */
@media screen and (max-width: 1150px) {
  #menu-icon {
    display: flex;
  }
  nav {
    display: none;
  }
  /* footer */
  footer {
    padding: 40px 20px;
  }
  .footer-wrap {
    justify-content: space-between;
  }
  .container {
    padding: 0 30px;
    min-height: 70vh;
    justify-content: space-around;
  }
  .form-container {
    width: 40%;
    max-height: 550px;
    margin: 0 30px 0 0;
    min-width: 400px;
    align-items: flex-start;
  }
  .form-data {
    /* max-width: 400px; */
    width: 100%;
  }
  .form-input-container,
  .btn-signup {
    width: 100%;
    min-width: unset;
    /* max-width: 400px; */
  }
  .form-input {
    width: 100%;
    margin-top: 0;
  }
  .img-container {
    max-height: 550px;
  }
}

@media screen and (max-width: 760px) {
  header {
    height: 70px;
    padding: 0 25px;
  }
  .logo-name {
    font-size: 20px;
  }
  .user i {
    font-size: 30px;
  }
  .user:hover ul.dropdown {
    margin-top: 30px;
  }
  /* footer */
  .footer-wrap {
    font-size: 14px;
    flex-direction: column;
  }
  footer .logo-name {
    text-align: left;
  }
  footer h3 {
    font-size: 16px;
  }
  footer ul.social {
    display: flex;
    justify-content: left;
  }
  footer ul.social li {
    margin: 0;
  }
  footer ul.social li i {
    font-size: 24px;
  }
  .pjt-92,
  footer .contact p {
    font-size: 14px;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0 0;
    height: calc(100vh - 90px);
    max-height: 700px;
    min-height: 500px;
    position: relative;
    padding: 0;
  }

  .form-container {
    width: 95%;
    max-width: 700px;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    min-width: unset;
    padding: 20px;
    border-radius: 5px;
  }
  .form-title h2 {
    font-size: 28px;
  }
  .img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: unset;
  }
}
