@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Roboto:wght@300;400;500;700&display=swap");

html {
  /* scroll-behavior: smooth; */
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  /* background-color: #e5e5e5; */
  background-color: white;
  font-size: 14px;
  font-family: "roboto";
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway";
  color: #443a6c;
}
a {
  text-decoration: none;
  color: inherit;
  padding: 10px 0;
}
button {
  height: 45px;
  width: 120px;
  border-radius: 5px;
  border: none;
  color: white;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  display: block;
  object-fit: cover;
}
.header-components {
  background-color: #4623d2;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  color: white;
  padding: 0 50px 0 40px;
  z-index: 10;
  max-width: 1600px;
  margin: 0 auto;
}
.logo-name {
  font-size: 28px;
  font-weight: bold;
  font-family: "roboto";
  letter-spacing: 2px;
  cursor: pointer;
}
.nav-wrap {
  display: flex;
  align-items: center;
}
.user {
  height: 45px;
  margin: 0 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user i {
  font-size: 40px;
}
ul.dropdown {
  cursor: pointer;
  display: none;
  /* background-color: red; */
}
ul.dropdown li {
  font-size: 16px;
  color: black;
  padding: 15px;
  width: 120px;
  background-color: white;
  font-weight: bold;
  text-align: center;
}
ul.dropdown li:last-child {
  border-top: 1px solid rgb(169, 181, 182);
}
.user:hover ul.dropdown {
  display: block;
  position: absolute;
  top: 0;
  padding-top: 20px;
  margin-top: 40px;
  z-index: 150;
}
.user:hover ul.dropdown li:hover {
  background-color: #4623d2;
  color: white;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul * {
  margin: 0 15px;
  font-size: 16px;
  font-weight: bold;
}
nav ul li {
  padding: 10px 0;
  text-transform: uppercase;
}
nav ul *:hover {
  background-color: white;
  color: #4623d2;
  border-radius: 4px;
}
nav ul button {
  background-color: #6039fb;
  font-size: 14px;
  text-transform: uppercase;
}
.register-btn {
  background-color: #edbd41;
  width: 180px;
  padding: 0;
  font-size: 14px;
  text-transform: unset;
}
.register-btn a {
  padding: 0;
  font-size: 14px;
  width: 100%;
  font-weight: bold;
}

/* MENU ICON STYLES */
#menu-icon {
  z-index: 100;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: none;
  align-items: center;
  justify-content: center;
}
.bar {
  width: 20px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: transform 0.3s ease-in;
}
.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: transform 0.3s ease-out;
}
.bar::before {
  transform: translateY(-7px);
}
.bar::after {
  transform: translateY(7px);
}
.bar.rotate {
  transform: rotate(180deg);
  background-color: transparent;
  box-shadow: none;
}
.bar.rotate::before {
  transform: rotate(45deg) translate(5px, -5px);
  box-shadow: none;
}
.bar.rotate::after {
  transform: rotate(-45deg) translate(5px, 5px);
  box-shadow: none;
}
.lock-scroll {
  overflow: hidden;
}
/* END  OF MENU-ICON STYLES*/

/* MOBILE NAV STYLES  */
#mobile-nav {
  position: fixed;
  width: 100%;
  min-width: 100vw;
  height: 100vh;
  min-height: 400px;
  background-color: transparent;
  z-index: 5;
  transition: all 0.3s ease;
  opacity: 0;
  pointer-events: none;
  border-top: 1px solid gray;
  /* margin-top: 70px; */
}
#mobile-nav.open {
  opacity: 1;
  pointer-events: auto;
}
#mobile-nav.bg-overlay {
  background-color: rgba(10, 39, 10, 0.432);
}
#mobile-nav-links {
  height: 100%;
  background-color: #1a027b;
  width: 70%;
  padding: 10% 10% 0;
  margin: 0 0 0 auto;
  list-style: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#mobile-nav-links li {
  color: white;
}
.nav-animation {
  animation: navbar 0.3s linear;
}
@keyframes navbar {
  0% {
    margin-right: -70%;
  }
  100% {
    margin-right: 0px;
  }
}
#mobile-nav-links li {
  color: white;
  width: 100%;
  font-size: 16px;
  text-align: center;
}
#mobile-nav-links li a {
  display: block;
  width: 100%;
  padding: 30px 0;
  font-weight: 600;
}
#mobile-nav-links li a:hover {
  background-color: white;
  font-weight: bold;
  color: #4623d2;
}
/* END OF MOBILE NAV STYLES  */

/* END OF HEADER STYLES */

section {
  padding: 2rem 1rem;
  max-width: 1600px;
  margin: 0 auto;
}
.intro {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("/assets/img/QeaGAUjW_fw.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 50px);
  max-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  margin-top: 50px;
}

.intro__heading {
  font-weight: bold;
  font-size: 52px;
  margin-top: -20px;
  color: #ffffff;
  max-width: 900px;
  text-align: center;
}

.intro__btn {
  background-color: rgb(12, 12, 160);
  color: #fff;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  border: none;
  display: block;
  margin: 30px auto 0;
}

.intro__btn:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(12, 12, 160);
}

.intro__btn > a {
  text-decoration: none;
  /* color: #fff; */
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.fa-long-arrow-right {
  color: #fff;
  margin-left: 5px;
}
/* FORM STYLES */

form {
  margin: 30px auto 0;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  border: 1px solid #2854aa;
  border-radius: 10px;
  background-color: rgba(255, 255, 255);
  /* background-color: rgb(242, 242, 255); */
}
label {
  font-weight: bold;
}
.form-item {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  border: 1px solid rgb(178, 206, 207);
  position: relative;
}
.form-item select {
  height: 40px;
  border: none;
  font-size: 14px;
  background-color: transparent;
  appearance: none;
  padding: 0 10px;
}
label::after {
  content: "";
  height: 0px;
  width: 0px;
  position: absolute;
  top: 50%;
  right: 10px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid rgb(100, 100, 100);
  pointer-events: none;
}
.form-item,
#submit {
  width: 20%;
  max-width: 200px;
  height: 50px;
  border-radius: 5px;
}
select:focus {
  outline: none;
}
#submit {
  background-color: #4623d2;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

/* END OF FORM STYLES */
.intro__items {
  padding: 70px 50px;
  background-color: #f7f7f7;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.intro__item__details {
  line-height: 18px;
}

#border__right {
  border: 0.5px solid rgb(158, 167, 167);
  display: none;
}
.intro__item {
  text-align: center;
  border-radius: 5px;
  width: 23%;
  max-width: 350px;
  padding: 20px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(193, 211, 209);
}

.intro__item > span > img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: block;
}
.intro__item > h3 {
  color: rgb(16, 16, 58);
  font-size: 20px;
}

.intro__item > p {
  color: #585566;
  font-size: 14px;
  margin: 0;
}

/* FEATURED SPACES  */
.featured__spaces {
  width: 100%;
  background-color: #f7f7f7;
}
.featured__spaces__wrap {
  display: flex;
  width: 1100px;
  margin: 50px auto;
  /* overflow: hidden; */
  position: relative;
}
.spaces-wrap {
  width: 320px;
  height: 300px;
  margin: 0 20px;
}
.spaces-item {
  width: 30%;
  width: 320px;
  height: 300px;
  background-color: black;
  position: relative;
  color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(75, 87, 87, 0.5);
}
.spaces-item:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
.spaces-item img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 10px;
  object-fit: cover;
  /* display: none; */
}
.spaces-item .space-item-text {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 3;
}
.space-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  max-width: 200px;
}
.space-item-location {
  font-size: 14px;
}
.space-item-location i {
  font-size: 18px;
  margin-right: 5px;
}
.spaces-item .like-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 3;
  font-size: 32px;
  cursor: pointer;
}
.liked {
  color: rgb(255, 0, 0);
}
.spaces-item .ratings {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 3;
  margin-bottom: 14px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.253);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  padding: 10px 0;
}
.ratings i {
  font-size: 20px;
  color: gold;
}
.rating-value {
  margin: 0 0 10px;
  text-align: center;
}

/* END OF FEATURED SPACES */
.main {
  background-color: #fff;
  padding: 50px 0;
}

.main__container__heading {
  text-align: center;
  color: #443a6c;
  font-weight: bolder;
  font-size: 40px;
  line-height: 60px;
  max-width: 500px;
  margin: 0 auto;
}

.main__container__features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  max-width: 700px;
  margin: 20px auto;
  justify-content: center;
}
.main__container__feature img {
  height: 50px;
  margin: 0 20px;
}

.fa-bars {
  color: #fff;
}
.testimonies {
  background-color: #f7f7f7;
  /* color: rgb(35, 35, 110); */
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 50px;
}
.testimonies h3,
.featured__spaces h3 {
  text-align: center;
  font-size: 40px;
}
.testimonies__details {
  display: flex;
  width: 1100px;
  margin: 0 auto;
  position: relative;
  /* overflow: hidden; */
  /* padding: 0 0 20px; */
}
.test-wrap {
  width: 320px;
  height: 300px;
  margin: 0 20px;
}
.testimonies__details .testimonies__container {
  font-size: 14px;
  box-shadow: 5px 5px 10px rgb(193, 211, 209);
  width: 320px;
  height: 280px;
  background-color: white;
  padding: 20px 10px 100px;
  border-radius: 5px;
  position: relative;
}
/* PREV AND NEXT BUTTONS */

.act-btn,
.f-act-btn {
  width: 70px;
  height: 100%;
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #443a6c;
  background-color: #f7f7f7;
  font-size: 40px;
  position: absolute;
  opacity: 1;
  pointer-events: auto;
  z-index: 5;
  cursor: pointer;
}
.prev,
.f-prev {
  left: -52px;
  top: 0;
}
.next,
.f-next {
  right: -45px;
  top: 0;
}

/* END */
.client__name {
  font-weight: bold;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  font-family: "raleway";
}
.line {
  content: " ";
  width: 100px;
  margin: 0 auto;
  height: 2px;
  border-radius: 10px;
  background-color: #1a027b;
}
.client__name p {
  margin: 10px 0;
}
.testimonies__image img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.testimonies__text {
  padding: 0 20px;
  line-height: 24px;
}

/* space details */

/* BREADCRUMBS START */
.breadcrumbs__container {
  /* padding: 10px;
  background-color: #e5e5e5; */
  width: 100%;
}

.breadcrumbs {
  padding-top: 7rem;
  padding-left: 20px;
  background-color: #e5e5e5;
  font-family: "roboto";
}

.breadcrumbs__item {
  display: inline-block;
}

.breadcrumbs__item:not(:last-of-type)::after {
  /* content: "/"; */
  content: "\203a";
  margin: 0 5px;
  color: #323232;
}

.breadcrumbs__link {
  text-decoration: none;
  color: #999;
}

.breadcrumbs__link:hover {
  text-decoration: underline;
}

.breadcrumbs__link--active {
  color: #009578;
  font-weight: 500;
}

/* BREADCRUMBS END */

.space__details {
  width: 100vw;
  height: 100vh;
  background-color: #e5e5e5;
  /* overflow: hidden; */
}

.space__details__container {
  margin: 30px;
  background-color: #ffffff;
  box-shadow: rgb(50, 76, 77);
  border-radius: 5px;
}

.space__details__image__container {
  align-items: center;
  margin: 20px;
}
.space__details__image {
  margin: 40px;
}

.space__details__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: contrast(30px);
}

.space__details__caption {
  padding-top: 35px;
  color: #443a6c;
  font-size: 30px;
  font-weight: bold;
}

.space__details__spaces {
  display: flex;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 0;
}

.space__details__spaces__text {
  padding-left: 45px;
  flex: 0.5;
}

.space__details__spaces__location {
  padding-left: 45px;
  flex: 0.5;
  justify-content: center;
}

.space__details__space__contacts {
  background-color: #bab2db;
}

/* space details */
.footer-component {
  margin-bottom: 0;
  margin-top: 40px;
  background-color: black;
}
footer {
  background-color: #1a027b;

  color: white;
  padding: 50px;
  font-family: "roboto";
  font-size: 16px;
}
.footer-wrap {
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
footer .footer-info p {
  margin: 0 0 20px;
  font-weight: bold;
}
.footer-info i,
footer ul li i {
  margin-right: 10px;
  font-size: 14px;
  font-weight: initial;
}
.bold-icon i {
  font-weight: bold;
}
footer .contact p {
  font-size: 16px;
  color: #8396bb;
}
footer h3 {
  color: white;
  font-size: 20px;
  margin: 0 0 16px;
}
footer ul {
  flex-direction: column;
  padding: 0;
  justify-content: unset;
  align-items: unset;
}
footer ul li {
  margin: 15px 0;
  font-weight: bold;
  color: #8396bb;
}
footer ul li:hover,
.contact .app:hover {
  color: white;
  /* padding-left: 5px; */
}
footer ul.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer ul.social li i {
  margin: 0 20px 0 0;
  font-size: 24px;
  color: white;
  font-weight: normal;
}
footer ul.social li i:hover {
  padding: 0;
  color: #8396bb;
}
.pjt-92 {
  background-color: #1a027b;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #6039fb;
  font-size: 16px;
}
.pjt-92 p {
  margin: 0;
  color: #8396bb;
}
.pjt-92 p:hover {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

/* PLEASE IGNORE */

/*  */
@media (max-width: 1150px) {
  #menu-icon {
    display: flex;
  }
  nav {
    display: none;
  }
  /* footer */
  footer {
    padding: 20px;
  }
  .footer-wrap {
    justify-content: space-between;
  }
  .fa-long-arrow-alt-right {
    margin-left: 7px;
  }
  .intro {
    max-height: 600px;
  }
  .intro__heading {
    font-size: 40px;
  }
  form {
    width: 100%;
    min-width: 500px;
    max-width: 800px;
  }
  .featured__spaces {
    padding-bottom: 20px;
  }
  .intro__items {
    padding: 30px 20px;
  }
  .intro__item > h3 {
    font-size: 16px;
  }
  .main__container__heading {
    max-width: 400px;
    margin: 0 auto;
  }
  .testimonies__details,
  .featured__spaces__wrap {
    width: 740px;
    margin: 0 auto;
  }
  .test-wrap,
  .spaces-wrap {
    margin: 0 25px;
  }
}
/* FOR THE SLIDERS */
@media (max-width: 850px) {
  .act-btn,
  .f-act-btn {
    display: none;
    opacity: 0;
    pointer-events: none;
  }
}
/* END */
@media (max-width: 760px) {
  header {
    height: 70px;
    padding: 0 25px;
  }
  .logo-name {
    font-size: 20px;
  }
  .user i {
    font-size: 30px;
  }
  .user:hover ul.dropdown {
    margin-top: 30px;
  }
  /* footer */
  .footer-wrap {
    font-size: 14px;
    flex-direction: column;
  }
  footer h3 {
    font-size: 16px;
  }
  footer ul.social {
    justify-content: left;
  }
  .pjt-92,
  footer .contact p {
    font-size: 14px;
  }
  footer ul.social li i {
    font-size: 24px;
  }
  section {
    padding: 10px;
  }
  .intro {
    max-height: 450px;
  }
  .none {
    display: none;
  }
  .intro__heading {
    font-size: 24px;
    line-height: 30px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  form {
    width: 100%;
    height: 140px;
    max-width: 450px;
    min-width: unset;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    /* display: none; */
  }
  .form-item,
  #submit {
    width: 42%;
    /* margin: 0 auto; */
  }
  .featured__spaces {
    padding-bottom: 50px;
  }
  .intro__items {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px 10px 0;
  }
  .intro__item {
    width: 45%;
    min-width: 120px;
    max-width: 300px;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  .main {
    padding: 30px 0;
  }
  .main__container__features {
    justify-content: space-around;
  }
  .main__container__features img {
    margin: 0 0 10px;
  }
  .main__container__heading,
  .testimonies h3,
  .featured__spaces h3 {
    font-size: 24px;
    line-height: 30px;
  }
  .testimonies__details,
  .featured__spaces__wrap {
    width: 100%;
    max-width: 340px;
    min-width: 270px;
    margin: 0 auto;
    overflow: hidden;
  }
  .test-wrap,
  .spaces-wrap {
    margin: 0px 20px;
  }
  .testimonies__container,
  .spaces-item {
    width: 100%;
    max-width: 300px;
  }
  .header-components {
    width: 100vw;
  }
}
/* FOR THE SLIDERS */
@media (max-width: 320px) {
  .testimonies__details,
  .featured__spaces__wrap {
    width: 280px;
    /* width: 100%; */
  }
  .test-wrap,
  .spaces-wrap {
    margin: 0px 20px;
  }
  .testimonies__container,
  .spaces-item {
    max-width: 250px;
  }
  .testimonies__text {
    padding: 0;
  }
  .testimonies__details .testimonies__container {
    height: 300px;
  }
  select#country,
  select#state,
  select#city {
    padding-left: 0;
  }
}

/* END */
